body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#00695c;
color:white;
text-align:center;
padding:20px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
position:relative;
text-align:center;
}

.hero img{
width:100%;
height:400px;
object-fit:cover;
}

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
background:rgba(0,0,0,0.5);
padding:20px;
border-radius:10px;
}

.lake-container{
display:flex;
gap:20px;
padding:30px;
flex-wrap:wrap;
justify-content:center;
}

.lake-card{
background:white;
padding:15px;
border-radius:10px;
width:300px;
box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.lake-card img{
width:100%;
border-radius:10px;
}

footer{
background:#00695c;
color:white;
text-align:center;
padding:10px;
}
